.users__item {

  .user__img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: block;
    margin: 30px auto;
  }

  .user__name {
    font-family: "Overpass";
    font-weight: 600;
    font-size: 22px;
    margin-top: 11px;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .user__position,
  .user__email,
  .user__tel {
    font-family: "Source Sans Pro";
    color: #4c4b4b;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

  }
}

@media screen and (min-width: 768px) {
  .users {
    margin: 0 auto;
    width: 768px;
  }
  .users__item {
    width: 220px;
    margin: auto;

    div {
      width: 100%;
    }

    .user__name {
      width: 210px;
    }

    .user__img {
      margin-top: 26px;
      min-width: 70px;
    }

    .user__position {
      margin-top: 2px;
      line-height: 1.5;
      margin-bottom: 0;
      width: 203px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .user__email {
      //margin: 0 auto;
      width: 203px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 1;
    }
  }
}

@media screen and (min-width: 1024px) {
  .users {
    width: 1024px;

  .users__item {
    display: flex;
    width: 290px;
    text-align: left;
      margin-bottom: 10px;

    .user {
      &__img {
        margin-top: 0;
        margin-right: 10px;
      }
      &__name {
        margin-top: 25px;
        margin-bottom: 6px;
        }
      }
    }
  }
  .user-list {

    padding-bottom: 10px;
  }
}
